# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
vendor/

# misc
composer.phar
.DS_Store
.env
/.idea
.php-cs-fixer.cache
.phpunit.result.cache
*.swp

# dependency lock file
composer.lock

# overrides for local tooling
/phpstan.neon
